<footer>
    <div class="f-info-social">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">
        &copy;HomeAway Private Limited
    </div>
    <div class="f-info-copyright">
<a href="#">Privacy</a>
<a href="#">Terms</a>
<a href="#">Conditions</a>
    </div>
</footer>