
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"
      ><i class="fa-brands fa-airbnb " style="color: #fe424d; margin-left: 40%;"></i>
      <h6><b>HomeAway</b></h6>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div> -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" method="GET" action="#">
          <input
            class="form-control me-2 search-inp"
            type="search"
            placeholder="Search destinations"
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-search"></i>Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link addListing" href="/listing/new">Airbnb your home</a>
        <% if(!currUser) {%>
        <a class="nav-link" href="/signin"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Log In</b></a>
        <% } %> <% if(currUser) {%>
        <a class="nav-link" href="/logout">Log Out</a>
        <div class="user" style="background-color: #fff ; border-radius: 2rem; padding: 0.5rem 1rem;">
          <i class="fa-solid fa-circle-user" style="color: #fe424d"></i>
          <b><%= currUser.username %></b>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>


