<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item ml-3">
                <div><i class="fa-light fa-water"></i>
                    <p>Lake</p>
                </div>
            </li>
            <li class="nav-item  ml-3">
                <div><i class="fa-light fa-mountain"></i>
                    <p>Ilands</p>
                </div>
            </li>
            <li class="nav-item  ml-3">
                <div><i class="fa-light fa-gamepad"></i>
                    <p>Play</p>
                </div>
            </li>
            <li class="nav-item  ml-3">
                <div><i class="fa-light fa-person-hiking"></i>
                    <p>Camping</p>
                </div>
            </li>
            <li class="nav-item  ml-3">
                <div><i class="fa-light fa-fill-drip"></i>
                    <p>Design</p>
                </div>
            </li>
            <li class="nav-item  ml-3">
                <div><i class="fa-light fa-fire"></i>
                    <p>Tranding</p>
                </div>
            </li>
            <li class="nav-item  ml-3">
                <div><i class="fa-light fa-plus"></i>
                    <p>New</p>
                </div>
            </li>
            <li class="nav-item  ml-3">
                <div><i class="fa-light fa-cow"></i>
                    <p>Farms</p>
                </div>
            </li>
            <li class="nav-item  ml-3">
                <div><i class="fa-thin fa-sailboat"></i>
                    <p>Boats</p>
                </div>
            </li>
            <li class="nav-item active  ml-3">
                <div>Action
                    <p>Beach</p>
                </div>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">


                    <div>
                        <p>Iconic Cities</p>
                    </div>

                </div>

    </div>
    </li> -->

<!-- <style>
    .subnav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-self: center;
    }
    .subnav i{
        margin: auto;
    }
</style>


<div class="subnav">
    <div><i class="fa-solid fa-water"></i>
        <p>Lake</p>
    </div>

    <div><i class="fa-solid fa-mountain"></i>
        <p>Ilands</p>
    </div>

    <div><i class="fa-solid fa-gamepad"></i>
        <p>Play</p>
    </div>

    <div><i class="fa-solid fa-person-hiking"></i>
        <p>Camping</p>
    </div>

    <div><i class="fa-solid fa-fill-drip"></i>
        <p>Design</p>
    </div>

    <div><i class="fa-solid fa-fire"></i>
        <p>Tranding</p>
    </div>

    <div><i class="fa-solid fa-plus"></i>
        <p>New</p>
    </div>

    <div><i class="fa-solid fa-cow"></i>
        <p>Farms</p>
    </div>


    <div><i class="fa-solid fa-sailboat"></i>
        <p>Boats</p>
    </div>
    <div><i class="fa-solid fa-bed-pulse"></i>
        <p>Rooms</p>
    </div>

    <div><i class="fa-solid fa-snowflake"></i>
        <p>Arctic</p>
    </div>


    <div><i class="fa-solid fa-house-laptop"></i>
        <p>Tiny homes</p>
    </div>


    <div>
        <p>Beach</p>
    </div>

</div> -->
<style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .filter {
      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      opacity: 0.6;
    }
  
    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }
  
    .filter p {
      font-size: 0.8rem;
    }
  
    .tax-info {
      display: none;
    }
  
    .tax-toggle {
      border: 1px solid black;
      border-radius: 1rem;
      height: 2.5rem;
      padding: 1rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
    }
  </style>

<div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </div>
    <div class="filter">
      <div><i class="fa-regular fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-igloo"></i></div>
      <p>Domes</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-key"></i></div>
      <p>New</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-ship"></i></div>
      <p>Boats</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-gamepad"></i></div>
      <p>Play</p>
    </div>
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display total after taxes</label
        >
      </div>
    </div>
  </div>

  <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
      let taxInfo = document.getElementsByClassName("tax-info");
      for (info of taxInfo) {
        if (info.style.display != "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        }
      }
    });
  </script>