<% layout('layouts/boilerplate') -%>

    <div class="singin container col-sm-6 border p-5 mb-5 offset-3 shadow-lg p-3  rounded mt-5 ms-auto" style="background-color: rgba(249, 247, 247, 0.4); ">
        <h3 class=" mb-5 offset-5">Sign Up</h3>
        <div >

            <form action="/user/signin" method="post" novalidate class="needs-validation">

                <div class="mb-4 row">
                    <label for="username" class="col-sm-3 col-form-label">Username :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" name="username" required>
                        <div class="invalid-feedback">Please enter valid username</div>
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="email" class="col-sm-3 col-form-label">Email :</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" name="email" required>
                        <div class="invalid-feedback">Please enter valid username</div>
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="password" class="col-sm-3 col-form-label">Password :</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div class="invalid-feedback">Please enter valid username</div>
                    </div>
                </div class="mb-5">
                <button class="btn btn-success offset-5 signin-btn" type="submit">Sign In</button>
            </form>
        </div>
    </div>